/* regole generali */

.grey{
  background-color: #f3f5f9;
}

.textcenter{
  text-align: center;
}

/* regole debug */
[class*="col-"]{
  border: 1px solid black;
  min-height: 400px;
}

/* mediaquery  */

@media all and (min-width: 768px) and (max-width: 992px) {
    .navbar-collapse.collapse {
        display: none!important;
    }

    .navbar-header{
      width: 100%;
    }

    .navbar-toggle{
      display: block;
      margin-right: 0;
    }
}

@media all and (max-width: 992px){
  header>nav a{
    width: 20%;
  }
}

@media all and (min-width: 993px){
  .navbar-header{
    width: 20%;
  }
}

/* regole header */
header>.navbar-default{
  background-color: #fff;
  border: none;
  border-radius: 0;
}

header>nav a>img{
  max-height: 100%;
}

header>nav a>i{
  padding-left: 5px;
}

#signup{
  border: 1px solid black;
}

/* regole jumbotron */
.ms_jumbotron{
  background-image: url("../img/jumbo.svg");
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}

.ms_contentform{
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
}

.list-group-item{
  border-radius: 5px;
  border: none;
  box-shadow: 2px 1px #f3f5f9;
}

.list-group-item:first-child{
  background-color: #579aff;
  margin-bottom: 10px;

}

.ms_contentform img{
  height: 25px;
}

.ms_contentform p{
  padding-top: 5px;
}

/* regole main */
/* sezione loghi */

section.grey img{
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}
