/* regole generali */

.grey{
  background-color: #f3f5f9;
}

.bluegrad{
  background: linear-gradient(#0046c4,
  #0034b1, #00209c);
}

.textcenter{
  text-align: center;
}

.textwhite{
  color: #fff;
}

.textgrey{
  color: #9ca5b6;
}

.textverdeacqua{
  color: #00d1d0;
}

/* regole debug */
[class*="col-"]{
  /* min-height: 400px; */
}

/* mediaquery  */

@media all and (min-width: 768px) and (max-width: 992px) {
    .navbar-collapse.collapse {
        display: none!important;
    }

    .navbar-header{
      width: 100%;
    }

    .navbar-toggle{
      display: block;
      margin-right: 0;
    }
}

@media all and (max-width: 992px){
  header>nav a{
    width: 20%;
  }
}

@media all and (min-width: 993px){
  .navbar-header{
    width: 20%;
  }
}



/* regole header */
header>.navbar-default{
  background-color: #fff;
  border: none;
  border-radius: 0;
}

header>nav a>img{
  max-height: 100%;
}

header>nav a>i{
  padding-left: 5px;
}

#signup{
  border: 1px solid #6fabff;
  color: #6fabff;
}

/* regole jumbotron */
.ms_jumbotron{
  background-image: url("../img/jumbo.svg");
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}

.ms_contentform{
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
}

.list-group-item{
  border-radius: 5px;
  border: none;
  box-shadow: 2px 1px #f3f5f9;
}

.list-group-item:first-child{
  background-color: #579aff;
  margin-bottom: 10px;
}

.list-group-item:last-child{
  position: relative;
}

.ms_contentform img{
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%);
  height: 25px;
}

.ms_contentform p{
  padding-top: 5px;
}

/* regole main */
/* sezione loghi */
section.grey li{
  display: inline-block;
  width: calc(100% / 7)
}

@media all and (max-width: 767px){
  section.grey li{
    width: calc(100% / 3);
    padding-right: 20px;
  }
}

section.grey img{
  width: 100%;
  vertical-align: middle;
}

/* sezione deploy */
#deploy{
  list-style-type: none;
}

#deploy li{
  border-left: 3px solid #d5d5d5;
  color: #78829c;
  padding-bottom: 30px;
  padding-left: 10px;
}

/* immagine carosel */

.carousel-control{
  width: 0;
  color: #031c4e;
}

.carousel-control.left{
  position: absolute;
  left: -50px;
}

.carousel-control.right{
  position: absolute;
  right: -50px;
}

.carousel-indicators{
  position: absolute;
}

.carousel-indicators .active{
  color: #000;
}

/* sezione table */
.table.table-hover .noline{
  border: none;
}

.table-hover > tbody > tr:hover{
  background-color: rgba(0, 0, 0, 0.5);
}

.textverdeacqua{
  padding-left: 115px;
}

.textverdeacqua>i{
  padding-left: 10px;
}
/* footer */
footer{
  background-color: #031c4e;
}

footer ul{
  list-style-type: none;
}
